@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/**Navbar**/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    font-family: 'Poppins', sans-serif;
}

li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo{
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.links{
    list-style: none;
}

.links li{
    display: inline-block;
    padding: 0px 20px;
}

.links li a{
    transition: all 0.3s ease 0s;
}

.links li a:hover{
    color: #a1ecff;
}

button{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(10, 201, 248, 0.7);
}

/**Hero**/

.hero-title{
    color: white;
    font-size: 41px;
    position: absolute;
    padding-bottom: 35px;
    left: 200px;
    top: 270px;
}

.hero-text{
    color: white;
    font-size: 17px;
    position: absolute;
    top: 375px;
    left: 200px;
}

.hero-img{
    position: absolute;
    width: 490px;
    height: 490px;
    top: 175px;
    left: 1100px;
}

.hero-btn{
    position: absolute;
    left: 195px;
    top: 540px;
}